/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  padding: 80px 40px 0 40px;
  font-family: 'Poppins', sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  --sb-track-color: #424242;
  --sb-thumb-color: #686868;
  --sb-size: 9px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #111111d9;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 25px;
  backdrop-filter: blur(10px);
}

#app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.character {
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

.character:hover {
  transform: scale(0.93);
  border-radius: 0px;
}

.modal {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.891);
  position: fixed;
  top: 80px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
  z-index: 40;
}

.modal__card {
  width: 80%;
  height: 90%;
  background-color: #0f0f0f;
  border-radius: 10px;
  transform: translateY(-100%);
  transition: .4s ease-in-out;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 10px;
}

.modal-open {
  opacity: 1;
  visibility: visible;
}

.modal-open .modal__card {
  transform: translateY(0);
}

.card__image,
.card__description {
  flex: 1;
}

.card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #0f0f0f;
}

.card__img {
  border-radius: 10px;
}

.card__description {
  /*   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll !important; */
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card__description::-webkit-scrollbar {
  width: 0;
--sb-track-color: #424242;
--sb-thumb-color: #686868;
--sb-size: 9px;
scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.card__description::-webkit-scrollbar {
width: var(--sb-size)
}

.card__description::-webkit-scrollbar-track {
background: var(--sb-track-color);
border-radius: 10px;
}

.card__description::-webkit-scrollbar-thumb {
background: var(--sb-thumb-color);
border-radius: 10px;

}

.info {
  width: 100%;
  padding: 10px;
  /* background-color: #1d1d1d; */
}

.info__name {
  text-align: center;
  color: #ececec;
  font-size: 30px;
  font-weight: 700;
  line-height: 80px;
  white-space: nowrap;
  /*     font-size: clamp(24px, 2vw, 36px);
 */
}

.info__text span {
  font-weight: bold;
  font-size: 20px;
  color: #e6e6e6;
  font-weight: 500;
}

.info__text {
  font-size: 17px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #c6c5c5;
  font-weight: 400;
  line-height: 40px;
  white-space: nowrap;
}

.description__residents {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  padding: 10px;
}

.card__description .lds-ellipsis {
  display: block;
  margin: 0 auto;
}

.residents__title {
  text-align: center;
  color: #ececec;
  font-size: 18px;
  font-weight: 400;
}

.residents__title span {
  font-weight: 500;
  font-size: 20px;
  color: #dbdbdb;
  font-weight: 500;
}

.description__residents .character {
  border-radius: 10px;
}

/* loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #c6c5c5;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* error */
.error{
  width: 100%;
}
.error__title{
  text-align: center;
  color: #d1d0d0;
  white-space: nowrap;
  margin-bottom: 20px;
  font-size: 20px;
}
.error__title span{
  color: #fff;
  font-size: 30px;
}
.error__img{
  width: 100%;
  display: block;
  border-radius: 5px;
}

.btn-full-screen{
  position: fixed;
  bottom: 10px;
  right: 12px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #1d1d1d;
  color: #e8e8e8;
  border-radius: 5px;
}

@media(max-width: 788px){
  html{
    height: 100%;
  }
  body{
    padding: 85px 10px;
  }
  #app{
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));

  }
  .modal{
    top: 0;
    z-index: 100;
    height: 100%;
  }
  .card{
    width: 90%;
    height: 85%;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px 5px;
  }
  .card__image,.card__description{
    width: 100%;
  }
  .card__image{
    width: 100%;
    flex-grow: 0.5;
  }
  .card__img{
    width: 50%;
  }
  
  .card__description{
    flex-grow: 1;
    overflow-y: visible;
    overflow-x: visible;
  }

  /* font size */
  .info__name{
    font-size: 20px;
    line-height: 50px;
  }
  .info__text{
    font-size: 15px;
    line-height: 30px;
  }
  .info__text span{
    font-size: 15px;
  }
  .residents__title{
    font-size: 18px;
  }

  .description__residents{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .btn-full-screen{
    padding: 15px 10px;
  }
}